* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1600px;
  height: 1089px;
}

.text-header_navigation {
  display: flex;
  width: 360px;
  height: 18px;
  margin-top: 131px;
  margin-left: 800px;
}

.text-header {
  color: #333;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 100% */
  text-transform: uppercase;
}

.second-text_header_navigation {
  display: flex;
  width: 783px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  margin-top: 28px;
  margin-left: 570px;
}

.second-text_header {
  color: #4d4943;
  text-align: center;
  font-family: Lato;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}

.line-header_navigation {
  margin-left: 931px;
  margin-top: 41px;
}

.header-img_navigation {
  margin-left: 821px;
  margin-top: 56px;
}

.header-menu_navigation {
  width: 1169px;
  height: 53px;
  margin-left: 419px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 69px;
  margin-left: 240px;
  list-style-type: none;
}

ul li {
  display: inline;
}

ul li a {
  color: #3d3d3d;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.yellow-text {
  color: #f1b128;
}

.line-menu_navigation {
  margin-left: 419px;
}

.image-container {
  width: 1169px;
  height: 498px;
  margin-top: 107px;
}

.part_image {
  display: flex;
  width: 270px;
  height: 148px;
  gap: 30px;
}

.image-navigation {
  margin-left: 419px;
}

.images-container_navigation {
  margin-left: 1018px;
  margin-top: -25%;
}

.images-container_second_navigation {
  margin-left: 1018px;
  margin-top: -25%;
}
